@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

body {
  font-size: 14px;
}
.App {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
}

.App-inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-inputContainer:not(:first-child) {
  margin-top: 1rem;
}

.App-label {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.App-input {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
  border-bottom: 1px solid #4e525a;
}

.App-errorMessage {
  margin-top: 1rem;
  color: #ffe023;
  font-size: 1.3rem;
  visibility: hidden;
}

.App-errorMessageVisible {
  visibility: visible;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
